@import url(./__close-button/popup__close-button.css);
@import url(./__form/popup__form.css);
@import url(./__input-button/popup__input-button.css);
@import url(./__input/popup__input.css);
@import url(./__title/popup__title.css);
@import url(./_viev/popup_viev_close.css);
@import url(./_viev/popup_viev_open.css);

.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
}