.elements__place {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 425px){
    .elements__place {
        max-width: 282px;
        margin: auto;
    }
}