.elements__place-button {
    width: 21px;
    height: 20px;
    background-image: url(../../../images/heart_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: opacity 0.3s ease-in-out;
}

.elements__place-button:hover {
    opacity: 0.6;
}